.logosWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.logosFlex {
  display: flex;
  width: 120rem;

  align-items: center;
  justify-content: space-around;
}
.logosItems {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  width: 13rem;
  height: 12rem;
}
