.container {
  overflow: hidden;
  margin-top: 7.2rem;
  width: 100%;
  height: 45.8rem;
  background: rgba(37, 78, 202, 0.05);
  display: flex;
  flex-direction: raw;
  justify-content: center;
}
.item1 {
  flex-basis: 45%;
}
.item2 {
  flex-basis: 55%;

  display: flex;
  justify-content: end;
  align-items: center;
}
.innerModal {
  position: relative;
  width: 52.5rem;
  height: 27.6rem;
  margin-top: 9.1rem;
  margin-left: 12rem;
}
.header {
  letter-spacing: 3px;
  font-size: 3.6rem;
  font-weight: 600;
  color: #2c2d2e;
  margin-bottom: 1.8rem;
}
.par {
  letter-spacing: 1px;
  font-weight: 300;
  color: #64666b;
  font-size: 1.8rem;
}
.button {
  cursor: pointer;
  font-family: "roboto";
  width: 37.1rem;
  height: 6.4rem;
  position: absolute;
  bottom: 0;
  background-color: #254eca;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;

  color: white;

  justify-content: center;
  align-items: center;
}
.boxItems {
  margin-right: 0.5rem;
  font-size: 1.6rem;
}

.smallButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  transform: translateX(6.4rem);

  width: 6.4rem;
  height: 6.4rem;
  background-color: #ffffff;
  border-radius: 50%;
}
.smallButton:last-of-type {
  margin-left: 52rem;
  /* transform: translateX(3.2rem); */
}
.image {
  width: 77.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: red; */
}
